/* Typography */

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 0.75px;
}

h1,h2,h3,h4 {
    font-weight: 400;
}

h1 {
    font-size: 3.157rem;
}

h2 {
    font-size: 1.777rem;
}

h3 {
    font-size: 1.333rem;
}

/* Spacing */

body {
    margin: 0 auto;
}

a {
    margin-bottom: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-item {
    margin: 0 2rem 2rem 0;
}

.header {
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: center;
    text-align: center;
}

.header-content {
    margin: 0 2rem;
}

img {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: auto;
}

i {
    margin-right: 8px;
}

.row {
    padding: 4rem 0;
}

ul, ol {
    list-style-position: inside;
    text-align: left;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem 2rem 4rem;
}

footer h4 {
    margin-top: 0;
}

.socials {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

/* Styling */

a {
    text-decoration: none;
}

a:visited {
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

.header {
    background: linear-gradient(to right, rgba(40, 40, 40, 0.7), rgba(40, 40, 40, 0.7)), url("https://images.unsplash.com/photo-1551708919-5b50c2aceffa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2831&q=80");
    background-size: cover;
    background-position: center;
    color: #fff;
}

.row-reverse {
    background-color: #191919;
    color: #fff;
}

footer {
    background-color: #424242;
    color: #fff;
}

/* Responsiveness */

@media screen and (min-width: 600px) {
    .main-item {
        align-self: center;
    }

    .row {
        display: flex;
        justify-content: space-around;
        padding: 2rem 1rem;
    }

    .row-reverse {
        flex-direction: row-reverse;
    }

    img {
        height: 200px;
        width: auto;
    }

    footer {
        justify-content: space-around;
        padding: 3rem;
    }
  }